<h1>Flight Search!</h1>

<form>
    <div class="form-group">
        <label>From</label>
        <input class="form-control" [(ngModel)]="from" name="from">
    </div>
    <div class="form-group">
        <label>To</label>
        <input class="form-control" [(ngModel)]="to" name="to">
    </div>
    <div class="form-group">
        <button
                class="btn btn-primary"
                name="btnSearch"
                [disabled]="!from || !to"
                (click)="search()">Search
        </button>
    </div>

</form>
<!--
[ngClass]="{ 'active': f == selectedFlight }"
-->
<table class="table table-striped">

    <tr *ngFor="let f of flights" [ngStyle]="{ 'background-color': (f == selectedFlight) ? 'orange': '' } ">
        <td>{{f.id}}</td>
        <td>{{f.from}}</td>
        <td>{{f.to}}</td>
        <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
        <td><a class="btn btn-default" (click)="select(f)">Auswählen</a></td>
        <td><a class="btn btn-default"
               [routerLink]="['/flight-edit', f.id]">Editieren</a></td>
    </tr>
</table>

<pre>Markierter Flug
----------------------
{{selectedFlight | json}}
</pre>